<div class="business">
  <div class="main-parallax"></div>
  <div class="container">
    <h1>
      ALL IN NIGHT
    </h1>
    <p>
      Somos una empresa joven que quiere cambiar la forma en que las personas
      planifican, comparten y disfrutan sus salidas a través de una plataforma
      innovadora y entretenida, centrada en las personas.
    </p>
    <p>
      All in night es la combinación de toda la experiencia social existente,
      para que puedas planificar cualquier tipo de salida, solo en la compañía
      de tus amigos y seres queridos.
    </p>
    <p>
      All in Night es Constancia, Creatividad e Innovación.
    </p>
  </div>
</div>
