<div class="business">
  <div class="main-parallax"></div>
  <div class="container">
    <h1>
      ALL IN NIGHT
    </h1>
    <p>
      Somos una empresa joven de tecnología aplicada a la innovación que surge de la unión
      de destacados profesionales en sus respectivas áreas, todos enfocados
      trabajando en una misma dirección y sentido para construir el front project
      de la compañía.
    </p>
    <p>
      Nuestra misión es ser la empresa de tecnología líder a nivel regional en
      innovación y desarrollo.
    </p>
    <p>
      Creemos en proveer servicios digitales de alta calidad para simplificar la
      vida de las personas. Desarrollar nuevas tecnologías para mejorar la calidad
      de vida. Interconectar información al servicio de la gente.
    </p>
    <p>
      Estamos en constante búsqueda no de clientes sino algo más profundo,
      poder conectar con las personas a través de la confianza, transparencia y
      profesionalismo.
    </p>
    <p>
      All in Night es Constancia, Creatividad e Innovación.
    </p>
  </div>
</div>
