<div class="contact">
  <div class="main-parallax"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 logo-container">
        <img src="assets/img/logo-white.png" />
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4">
        <span>info@allinnightapp.com</span>
      </div>
      <div class="col-12 col-lg-4">
        <span>Florida 336. San Nicolás. C.A.B.A.</span>
      </div>
      <div class="col-12 col-lg-4">
        <span>rrhh@allinnightapp.com</span>
      </div>
    </div>
    <div class="row mt-lg-3 pt-lg-0 mt-5 mt-pt-5">
      <div class="col-12">
        <span class="copy-right"
          >All in Night es una marca registrada de All In Group 2018. Todos los
          derechos reservados.</span
        >
      </div>
    </div>
    <div class="row site-by">
      <div class="col-12">
        <span class="text-center mx-auto">
          Site by ALL IN GROUP
        </span>
      </div>
    </div>
  </div>
</div>
